@font-face {
    font-family: light;
    src: url(/vazir-font-v16.1.0/Vazir-Light.woff2);
}
@font-face {
    font-family: medium;
    src: url(/vazir-font-v16.1.0/Vazir-Medium.woff2);
}
@font-face {
    font-family: bold;
    src: url(/vazir-font-v16.1.0/Vazir-Bold.woff2);
}